################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/RESULTS
/LIMOUI/PUBLISHED
/LIMOUI/LIMOUI/LIMOUI.csproj.user
/LIMOUI/LIMOUI/bin
/LIMOUI/LIMOUI/obj
/LIMOUI/LIMOUI/publish
